<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu pruebas</title>
    <link href="/web5/src/css/main.css" rel="stylesheet">
</head>
<body>
    <nav class="inv">   
        <div class="navbar">
            <strong class="title-nav"><a href="/web5/" class="a-white">Desarrolla aplicaciones web con conexion a base de datos</a></strong>
        </div>
    </nav>

    <div class="d-act">
        <h1>Titulo</h1>

        <div class="act-contenido">
            
        </div>

    </div>
</body>
</html>