<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu pruebas</title>
    <link href="/web5/src/css/main.css" rel="stylesheet">
</head>
<body>

    <nav class="inv">   
        <div class="navbar">
            <strong class="title-nav"><a href="/web5/" class="a-white">Desarrolla aplicaciones web con conexion a base de datos</a></strong>
        </div>
    </nav>
    
    <div class="d-table">
        <div class="table-head">
            <h2>1° Parcial</h2>
            <br>
        </div>
        <table class="menu-table">
            <thead>
                <tr>
                    <th style="width: 20%;">Página</th>
                    <th>Descripción</th>
                    <th style="width: 20%;">Observaciones</th>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-table">
        <div class="table-head">
            <h2>2° Parcial</h2>
            <br>
        </div>
        <table class="menu-table">
            <thead>
                <tr>
                    <th style="width: 20%;">Página</th>
                    <th>Descripción</th>
                    <th style="width: 20%;">Observaciones</th>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
                <tr>
                    <td><a href="#">Datos de prueba</a></td>
                    <td>Datos de prueba</td>
                    <td>Datos de prueba</td>
                </tr>
                <tr>
                    <td colspan="3"><hr></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
